.page-footer {
  padding: 2.5rem 3.1rem;
  background: #f1f1f4;

  @include mobile {
    padding: 1.5rem 0;
  }

  &__container {
    display: flex;
    justify-content: space-between;

    @include mobile {
      flex-direction: column;
      align-items: center;
    }
  }

  &__text {
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 0.04rem;
    color: #9494a2;

    @include mobile {
      font-size: 1.2rem;
      line-height: 1.4rem;
      text-align: center;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: -.4rem -2.6rem;
    padding-right: 5.3rem;

    @include mobile {
      margin: -.4rem;
      padding: 0;
    }
  }

  &__item {
    padding: .4rem 2.6rem;

    @include mobile {
      padding: .4rem;
    }
  }

  &__copypast {
    padding-left: 4rem;

    @include mobile {
      padding-left: 0;
      margin-bottom: 1rem;
    }
  }

  &__link {
    border-bottom: 1px solid rgba(#828790, .2);
    cursor: pointer;
  }
}