@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Bold.woff2') format('woff2'),
        url('../fonts/FuturaPT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
