// colors
$black: #404040;;
$white: #fff;
$yellowText: #fdc52b;
$btnBG: linear-gradient(to top, #ffc72c 0%, #fad05c 100%);
$btnText: #68554d;
$nav: #7f7f88;
$navLine: #828790;
$title: #5a5a58;
$yellow: #FFC733;
$cardCatalog: #f1f1f4;
$cardText: #707076;
$cardContacts: #f3f3f8;