.title {
  position: relative;
  margin-bottom: 3rem;
  font-size: 4.5rem;
  letter-spacing: .064rem;
  font-weight: 700;
  line-height: 5.6rem;
  text-align: center;
  color: $title;

  @include mobile {
    margin-bottom: 1.5rem;
    font-size: 2.4rem;
    line-height: 2.6rem;
  }
}